# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
.next
next-env.d.ts

# production
/build
/dist

# misc
.DS_Store
*.pem
.env*.local
.vercel

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo

# IDE
.vscode/
.idea/

# package managers
package-lock.json
yarn.lock
